In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

In [ ]:
spark = SparkSession.builder.master("local").appName("Schema Testing").getOrCreate()

In [3]:
data = [("James","","Smith","36626","M",3000),
        ("Michael","Rose","","40288","M",4000)
        ]

schema = StructType([
    StructField('firstName',StringType(),True),
    StructField('middleName',StringType(),True),
    StructField('lastName',StringType(),True),
    StructField('id',StringType(),True),
    StructField('gender',StringType(),True),
    StructField('salary',IntegerType(),True),
])

df = spark.createDataFrame(data= data, schema = schema)
df.printSchema()
df.show(truncate = False)

root
 |-- firstName: string (nullable = true)
 |-- middleName: string (nullable = true)
 |-- lastName: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+---------+----------+--------+-----+------+------+
|firstName|middleName|lastName|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|James    |          |Smith   |36626|M     |3000  |
|Michael  |Rose      |        |40288|M     |4000  |
+---------+----------+--------+-----+------+------+

In [4]:
df.columns

['firstName', 'middleName', 'lastName', 'id', 'gender', 'salary']

In [5]:
#string method
df.select("firstName").show()

+---------+
|firstName|
+---------+
|    James|
|  Michael|
+---------+

In [6]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
df.select(col("id")).show()

+-----+
|   id|
+-----+
|36626|
|40288|
+-----+

transform a col

In [7]:
df.select(col("id")+5).show()

+--------+
|(id + 5)|
+--------+
| 36631.0|
| 40293.0|
+--------+

select multiple columns

In [9]:
df.select("id","gender", "salary").show()

+-----+------+------+
|   id|gender|salary|
+-----+------+------+
|36626|     M|  3000|
|40288|     M|  4000|
+-----+------+------+

Different ways of selecting

In [10]:
df.select("id",col("firstName"),df["gender"],df.salary).show()

+-----+---------+------+------+
|   id|firstName|gender|salary|
+-----+---------+------+------+
|36626|    James|     M|  3000|
|40288|  Michael|     M|  4000|
+-----+---------+------+------+

expression

In [16]:
df.select(expr("id + 5 as 5_plus_id")).show()

+---------+
|5_plus_id|
+---------+
|  36631.0|
|  40293.0|
+---------+

In [19]:
df.select("*").show()

+---------+----------+--------+-----+------+------+
|firstName|middleName|lastName|   id|gender|salary|
+---------+----------+--------+-----+------+------+
|    James|          |   Smith|36626|     M|  3000|
|  Michael|      Rose|        |40288|     M|  4000|
+---------+----------+--------+-----+------+------+

SparkSQL

In [17]:
df.createOrReplaceTempView("emp_table")

In [18]:
spark.sql("select * from emp_table").show()

+---------+----------+--------+-----+------+------+
|firstName|middleName|lastName|   id|gender|salary|
+---------+----------+--------+-----+------+------+
|    James|          |   Smith|36626|     M|  3000|
|  Michael|      Rose|        |40288|     M|  4000|
+---------+----------+--------+-----+------+------+