In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [3]:
spark = SparkSession.builder.appName("Unique and Sorted Records").getOrCreate()

In [6]:
data=[(10 ,'Anil',50000, 18),
(11 ,'Vikas',75000,  16),
(12 ,'Nisha',40000,  18),
(13 ,'Nidhi',60000,  17),
(14 ,'Priya',80000,  18),
(15 ,'Mohit',45000,  18),
(16 ,'Rajesh',90000, 10),
(17 ,'Raman',55000, 16),
(18 ,'Sam',65000,   17),
(15 ,'Mohit',45000,  18),
(13 ,'Nidhi',60000,  17),      
(14 ,'Priya',90000,  18),  
(18 ,'Sam',65000,   17)
     ]

schema = "id integer, Name string, sal string, mngr_id integer"

leet_code_data = [
    (1, 'Will', None),
    (2, 'Jane', None),
    (3, 'Alex', 2),
    (4, 'Bill', None),
    (5, 'Zack', 1),
    (6, 'Mark', 2)
]

In [10]:
df = spark.createDataFrame(data=data,schema = schema)

In [11]:
df.show()

+---+------+-----+-------+
| id|  Name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 11| Vikas|75000|     16|
| 12| Nisha|40000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|80000|     18|
| 15| Mohit|45000|     18|
| 16|Rajesh|90000|     10|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
| 15| Mohit|45000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|90000|     18|
| 18|   Sam|65000|     17|
+---+------+-----+-------+

In [13]:
df.dropDuplicates().show()

+---+------+-----+-------+
| id|  Name|  sal|mngr_id|
+---+------+-----+-------+
| 10|  Anil|50000|     18|
| 11| Vikas|75000|     16|
| 12| Nisha|40000|     18|
| 15| Mohit|45000|     18|
| 13| Nidhi|60000|     17|
| 14| Priya|80000|     18|
| 17| Raman|55000|     16|
| 18|   Sam|65000|     17|
| 16|Rajesh|90000|     10|
| 14| Priya|90000|     18|
+---+------+-----+-------+

In [14]:
df.select("id","name").distinct().show()

+---+------+
| id|  name|
+---+------+
| 11| Vikas|
| 10|  Anil|
| 12| Nisha|
| 14| Priya|
| 15| Mohit|
| 13| Nidhi|
| 16|Rajesh|
| 18|   Sam|
| 17| Raman|
+---+------+

Sorting

In [17]:
df.sort(col("sal"),col("mngr_id").desc()).show()

+---+------+-----+-------+
| id|  Name|  sal|mngr_id|
+---+------+-----+-------+
| 12| Nisha|40000|     18|
| 15| Mohit|45000|     18|
| 15| Mohit|45000|     18|
| 10|  Anil|50000|     18|
| 17| Raman|55000|     16|
| 13| Nidhi|60000|     17|
| 13| Nidhi|60000|     17|
| 18|   Sam|65000|     17|
| 18|   Sam|65000|     17|
| 11| Vikas|75000|     16|
| 14| Priya|80000|     18|
| 14| Priya|90000|     18|
| 16|Rajesh|90000|     10|
+---+------+-----+-------+

Leetcode Question 584. Find Customer Referee

In [19]:
columns = "id integer,name string, referee_id integer"
df2 = spark.createDataFrame(data = leet_code_data, schema = columns)

In [20]:
df2.show()

+---+----+----------+
| id|name|referee_id|
+---+----+----------+
|  1|Will|      NULL|
|  2|Jane|      NULL|
|  3|Alex|         2|
|  4|Bill|      NULL|
|  5|Zack|         1|
|  6|Mark|         2|
+---+----+----------+

In [25]:
df2.select("name").filter((col("referee_id")!=2) | (col("referee_id").isNull())).show()

+----+
|name|
+----+
|Will|
|Jane|
|Bill|
|Zack|
+----+